<h1>SAE Classement ParcourSup Département Informatique</h1>

<p> Dans un premier temps, on importe, tous les modules nécessaires à ce projet. </p>

In [2]:
from math import * #Pour toutes les fonctions Mathématiques
#from xlsxwriter import * #Pour l'import/export de l'excel
import matplotlib.pyplot as plt #Mise en place graphique de données
import pandas as pd #Gestion d'une Dataframe

<p> On récupères la DataFrame de l'Excel </p>
<p> Et un test d'importation du fichier excel</p>

In [3]:
import time 
start = time.time()
df = pd.read_excel("PS_INFO.xlsx",engine='openpyxl')
end = time.time()
elapsed = end - start
print(elapsed)

17.6832377910614

In [1]:
Taille = len(df)
Voeux_NonConf=0
Gen=0
Techno=0
for i in range(Taille) :
    groupe = df['Groupe'][i]
    if(df['Candidature validée (O/N)'][i]=='Non') : Voeux_NonConf+=1 
    else : 
        if(groupe==7415) : 
            Gen+=1
        else : Techno+=1
print("Nombre de vœux  total :", Taille)
print("Nombre de vœux non confirmés :", Voeux_NonConf)
print("Nombre de vœux confirmés :", Taille-Voeux_NonConf)
print('Dont', Gen, "bacs généraux et", Techno, "bacs technologique")

NameError: name 'df' is not defined

<div class="text_cell_render border-box-sizing rendered_html">
<p></p><div id="nb_candidature"></div><p></p>
<h3>Données</h3><ol>
    <li><a href="#nb_candidature">Données</a></li>
    <li><a href="#matrice">Matrices</a></li>

</ol>
</div>

In [22]:
print("Le barème des candidats Généraux:")
MATRICE_GENERAL = pd.DataFrame(
    {
        'MATH': [1,2,3,2,3,4,13,8], 
        'MATH_EXP': [1,2,3,2,3,4,6,6], 
        'MATH_COMP': [0,0,0,1,2,3,9,7], 
        'SCIENCES': [1,2,3,2,3,4,4,8], 
        'NSI': [1,1,1,2,2,2,6,8],  
        'SES': [1,1,1,2,2,2,5,7], 
        'ANGLAIS': [1,1,1,1,1,1,4,8], 
        'FRANCAIS': [1,1,1,1,1,1,9,8]
    },
    index = ['P1', 'P2', 'P3', 'T1', 'T2', 'T3', 'COEF', 'PLANCHE']
)
display(MATRICE_GENERAL)
print("Le barème des candidats Technologique:")
MATRICE_TECHNOLOGIQUE = pd.DataFrame(
    {
        'MATH': [1,2,3,2,3,4,13,10], 
        'SCIENCES': [1,2,3,2,3,4,4,8], 
        'NSI': [1,1,1,2,2,2,6,9],  
        'ANGLAIS': [1,1,1,1,1,1,4,8], 
        'FRANCAIS': [1,1,1,1,1,1,9,8]
    },
    index = ['P1', 'P2', 'P3', 'T1', 'T2', 'T3', 'COEF', 'PLANCHE']
)
display(MATRICE_TECHNOLOGIQUE)

Le barème des candidats Généraux:

         MATH  MATH_EXP  MATH_COMP  SCIENCES  NSI  SES  ANGLAIS  FRANCAIS
P1          1         1          0         1    1    1        1         1
P2          2         2          0         2    1    1        1         1
P3          3         3          0         3    1    1        1         1
T1          2         2          1         2    2    2        1         1
T2          3         3          2         3    2    2        1         1
T3          4         4          3         4    2    2        1         1
COEF       13         6          9         4    6    5        4         9
PLANCHE     8         6          7         8    8    7        8         8

Le barème des candidats Technologique:

         MATH  SCIENCES  NSI  ANGLAIS  FRANCAIS
P1          1         1    1        1         1
P2          2         2    1        1         1
P3          3         3    1        1         1
T1          2         2    2        1         1
T2          3         3    2        1         1
T3          4         4    2        1         1
COEF       13         4    6        4         9
PLANCHE    10         8    9        8         8