<h1>SAE Classement ParcourSup Département Informatique</h1>

<p> Dans un premier temps, on importe, tous les modules nécessaires à ce projet. </p>

In [2]:
from math import * #Pour toutes les fonctions Mathématiques
#from xlsxwriter import * #Pour l'import/export de l'excel
import matplotlib.pyplot as plt #Mise en place graphique de données
import pandas as pd #Gestion d'une Dataframe

<p> On récupères la DataFrame de l'Excel </p>

In [3]:
import time 
#On vas calculer le temps que mets l'importation du fichier excel "PS_INFO.xlsx"
start = time.time()
#On utilise 
df = pd.read_excel("PS_INFO.xlsx",engine='openpyxl')
end = time.time()
elapsed = end - start

print(elapsed)

17.876787424087524

<div class="text_cell_render border-box-sizing rendered_html">
<p></p><div id="nb_candidature"></div><p></p>
<h3>Données</h3><ol>
    <li><a href="#nb_candidature">Données</a></li>
    <li><a href="#matrice">Matrices</a></li>

</ol>
</div>

In [4]:
Taille = len(df)
Voeux_NonConf=0
Gen=0
Techno=0
for i in range(Taille) :
    groupe = df['Groupe'][i]
    if(df['Candidature validée (O/N)'][i]=='Non') : Voeux_NonConf+=1 
    else : 
        if(groupe==7415) : 
            Gen+=1
        else : Techno+=1
print("Nombre de vœux  total :", Taille)
print("Nombre de vœux non confirmés :", Voeux_NonConf)
print("Nombre de vœux confirmés :", Taille-Voeux_NonConf)
print('Dont', Gen, "bacs généraux et", Techno, "bacs technologique")

Nombre de vœux  total : 4605
Nombre de vœux non confirmés : 243
Nombre de vœux confirmés : 4362
Dont 2972 bacs généraux et 1390 bacs technologique

<div class="text_cell_render border-box-sizing rendered_html">
<p></p><div id="matrice"></div><p></p>
<h3>Données</h3><ol>
    <li><a href="#nb_candidature">Données</a></li>
    <li><a href="#matrice">Matrices</a></li>

</ol>
</div>

<p>
   Pour l'automatisation du processus on s'intéresse à deux profils différents :
</p>
<ul>
      <li><strong>Les bacs Généraux</strong>. Ces étudiants ont tous une note de <em>français</em> d'<em>anglais</em> et de <em>sciences</em>. On récupères aussiles enseignements de spécialité <em>Mathématiques de spécialité</em> (sous l'étiquette <em>MATH</em>), <em>Informatique</em> (<em>NSI</em>) et <em>sciences économique et social</em>. On appliquera aussi un bonus aux candidats ayant suivit <em>Mathématiques complémentaires</em> ou <em>Mathématiques expertes</em>.</li> 
      <li>Ainsi parmis les bacs Technologique, on récupères <strong>les bacs STI2D</strong>. Ces étudiants ont tous une note de <em>français</em> d'<em>anglais</em> et de <em>Mathématiques</em>. On s'intéressera également aux enseignements de spécialité <em>Informatique</em> et <em>Sciences physiques et mathématiques</em> (sous l'étiquette <em>SCIENCES</em>).</li> 
</ul>
   Les autres bac seront non classé (sauf les équivalents au bac et DAEU).

   <br>

   Pour chacune de ces notes on peut diposer d'une note de premier, second et troisième trimestre de première (respéctivement sous l'étiquette <em>P1</em>, <em>P2</em> et <em>P3</em>) et de note au moins au premier et second trimestre de terminale, voir parfois (pour les redoublant) du troisième trimestre (sous l'étiquette <em>T1</em>, <em>T2</em> et <em>T3</em>).
   <br>

   Pour chaque candidat, on va : 
   <ul>
        <li>Calculer sa note pour chaque matière et pour chaque trimestre en la normalisant au regard du niveau de sa classe. Pour des détails concernant ce processus de normalisation consulter <a href="https://www.ataraxy.info/TMP/EtendueVSEcart-type.html">là</a>.</li>
        <li>On calcule la moyenne par rapport à chaque trimestre en appliquant des coefficients.</li>
        <li>Un candidat ne sera pas classé si sa note est strictement inférieur à une note <code>PLANCHE</code>.</li>
        <li>On calcule la moyenne des moyenne en appliquant des <em>COEF</em> pour chaque matière</li>    
   </ul>
   Tous ces coefficients sont résumés dans les matrices suivantes.

<p></p>

In [3]:
#Pour les Généraux, nous avons les enseignement suivant:
ENS_GEN=['MATH', 'MATH_EXP', 'MATH_COMP', 'SCIENCES', 'NSI', 'SES', 'FRANCAIS', 'ANGLAIS']
#Pour les Technologique, nous avons les enseignement suivant:
print("Matrice des coefficient des matières pour les Généraux :")
MATRICE_GENERALE = pd.DataFrame(
    {
        'MATH': [1,2,3,2,3,4,13,8], 
        'MATH_EXP': [1,2,3,2,3,4,6,6], 
        'MATH_COMP': [0,0,0,1,2,3,9,7], 
        'SCIENCES': [1,2,3,2,3,4,4,8], 
        'NSI': [1,1,1,2,2,2,6,8],  
        'SES': [1,1,1,2,2,2,5,7], 
        'ANGLAIS': [1,1,1,1,1,1,4,8], 
        'FRANCAIS': [1,1,1,1,1,1,9,8]
    },
    index = ['P1', 'P2', 'P3', 'T1', 'T2', 'T3', 'COEF', 'PLANCHE']
)
display(MATRICE_GENERALE)
print("Matrice des coefficient des matières pour les Technologiques :")
MATRICE_TECHNOLOGIQUE = pd.DataFrame(
    {
        'MATH': [1,2,3,2,3,4,13,10], 
        'SCIENCES': [1,2,3,2,3,4,4,8], 
        'NSI': [1,1,1,2,2,2,6,9],  
        'ANGLAIS': [1,1,1,1,1,1,4,8], 
        'FRANCAIS': [1,1,1,1,1,1,9,8]
    },
    index = ['P1', 'P2', 'P3', 'T1', 'T2', 'T3', 'COEF', 'PLANCHE']
)
display(MATRICE_TECHNOLOGIQUE)

Matrice des coefficient des matières pour les Généraux :

         MATH  MATH_EXP  MATH_COMP  SCIENCES  NSI  SES  ANGLAIS  FRANCAIS
P1          1         1          0         1    1    1        1         1
P2          2         2          0         2    1    1        1         1
P3          3         3          0         3    1    1        1         1
T1          2         2          1         2    2    2        1         1
T2          3         3          2         3    2    2        1         1
T3          4         4          3         4    2    2        1         1
COEF       13         6          9         4    6    5        4         9
PLANCHE     8         6          7         8    8    7        8         8

Matrice des coefficient des matières pour les Technologiques :

         MATH  SCIENCES  NSI  ANGLAIS  FRANCAIS
P1          1         1    1        1         1
P2          2         2    1        1         1
P3          3         3    1        1         1
T1          2         2    2        1         1
T2          3         3    2        1         1
T3          4         4    2        1         1
COEF       13         4    6        4         9
PLANCHE    10         8    9        8         8